@model IEnumerable<DocSpot.ViewModels.AppointmentVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="appointmentTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentTime)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentTime)
                </td>

                <td>
                    @if (item.IsApproved ?? false)
                    {
                        <span>Approved</span>
                    }
                    else
                    {
                        <a asp-action="ApproveAppointment" asp-route-id="@item.Id">Approve</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <script>
        $(document).ready(function () {
            $('#appointmentTable').DataTable();
        });
    </script>
}